.home-wrapper {
  display: flex;
  height: 100%;
}

#side-contents {
  height: 100%;
  background-color: #ccc;
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main-contents {
  flex: 4;
}

.current-path-text {
  margin: 15px;
}

.list-item-text {
  user-select: none;
}
