.home-wrapper {
  display: flex;
  height: 100%;
}

#side-contents {
  flex: 1;
  background-color: #ccc;
  height: 100%;
}

#main-contents {
  flex: 3;
}

.current-path-text {
  margin: 15px;
}

.list-item-text {
  user-select: none;
}
